:root {
  --toolbar-height: 75px;
}
html {
  background-color:black;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.content-main {
  height: 100vh;
  padding-top: var(--toolbar-height);
}
.footer {
  height: 200px;
  width: 100%;
}
.footer-info {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 25px;
  text-align: right;
  white-space: pre-wrap;
}
.toolbar-main {
  font-family: 'Open Sans', sans-serif;
  height: var(--toolbar-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000000;
}
.toolbar-button {
  display:inline-block;
  font-size: 25px;
  height: var(--toolbar-height);
  line-height: var(--toolbar-height);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
}
.toolbar-button:hover {
  cursor: pointer;
}
.wrapper {
  margin: auto;
  max-width: 1500px;
  min-width: 500px;
  width: 100vw;
}
#account {
  float: right;
}
#logout {
  float: right;
}
