:root {
  --post-height: 300px;
  --post-width: 440px;
  --n-post-width: -450px;
}
.current {
  background-color: #394053;
  color: white;
}
.darkener {
  background-color: black;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  transition: 0.3s;
  width: 100%;
  z-index: 5;
}
.fab {
  transition: 0.3s;
}
.fab:hover {
  color: #0ce;
}
.post-content {
  color: white;
  font-size: 20px;
  font-family: 'Merriweather' serif;
  height: var(--post-height);
  //left: var(--n-post-width);
  line-height: 28px;
  padding: 5px;
  position: absolute;
  transition: 0.1s;
  text-align: left;
  text-decoration: none;
  width: var(--post-width);
  z-index: 10;
}
.post-footer {
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: center;
  width: 100%;
  z-index: 11;
}
.post-regular {
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px grey solid;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: none;
  height: var(--post-height);
  margin-bottom: 25px;
  margin-left: 25px;
  max-height: 500px;
  overflow: hidden;
  position: absolute;
  vertical-align: top;
  width: var(--post-width);
}
.post-regular:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
  filter: none;
}
.page-num {
  border: 1px solid #394053;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
}
.page-num:hover {
  background-color: #394053;
  color: white;
}
.wrapper-post {
  height: auto;
  padding-top: 25px;
  position: relative;
  text-align: center;
}
