$theme-light: (
  body: (
    bg: #f4f8ff,
    color: white
  ),
  themed: (
      bg: white,
      color: black
  ),
  themed-inverse: (
      bg: #4D4861,
      color: white
  ),
   container: (
       bg: white,
       color: black,
       border: none,
       box-shadow: 0 8px 12px -12px black
   ),
   button: (
       bg: white,
       color: #4D4861,
       border-bottom-color: black
   ),
   container-anti: (
       bg: white,
       color: black,
   ),
   container-inverse: (
       bg: #4D4861,
       color: #FBFBFF,
   ),
   container-inverse-1: (
       bg: #4D4861,
       color: #040F16,
   )
);
