<!DOCTYPE html>
<html style="background-color: black">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="mobile-web-app-capable" content="yes">
  <title>Blog</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lora:700|Merriweather:300|Lato|Open+Sans:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/theme/theme.css">
  <link rel="stylesheet" type="text/css" href="/static/css/framework.css">
  {% block headlinks %}{% endblock %}
</head>
<body class='theme-light body'>
  {% block startlinks %}{% endblock %}
  <div class='container toolbar-main'>
    <div class='wrapper'>
      <form class="search-form" onsubmit="var value = document.getElementById('search').value; window.location.href = '/?page=1&search=' + value; return false;">
        <input class="search" type="text" id='search' placeholder="Search for posts by title">
      </form>
      <a class="fas fa-home button toolbar-button" href='{{ url_for("main.root") }}' id="home"></a>
      <div class="mdl-tooltip" data-mdl-for="home">
        Home
      </div>
      {% if current_user.is_authenticated %}
        <a class='fas fa-file-alt button toolbar-button' id='new' href='{{ url_for("posts.new_post") }}'></a>
        <div class="mdl-tooltip" data-mdl-for="new">
          New Post
        </div>
        <a class='fas fa-sign-out-alt button toolbar-button' id='logout' href='{{ url_for("users.logout") }}'></a>
        <div class="mdl-tooltip" data-mdl-for="logout">
          Logout
        </div>
        <a class='fas fa-user button toolbar-button' id='account' href='{{ url_for("users.account") }}'></a>
        <div class="mdl-tooltip" data-mdl-for="account">
          Account
        </div>
      {% else %}
<!--         <a class="fas fa-user button toolbar-button" href='{{ url_for("users.login") }}' id="login"></a>
        <div class="mdl-tooltip" data-mdl-for="login">
          Login
        </div> -->
      {% endif %}
    </div>
  </div>
  <div class='container content-main'>
    <div class='wrapper'>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      <div class='footer container-inverse'>
        <div class="wrapper">
          <a class="fab fa-github	container-inverse toolbar-button" href='https://github.com/AndrewHuang771' id="github"></a>
          <a class="fab fa-linkedin container-inverse toolbar-button" href='https://www.linkedin.com/in/andrew-yifeng-huang/' id="linkedin"></a>
          <div class="footer-info">
            Read anything interesting?
            Disagree with anything?
            You can talk to me at ahuang773@gmail.com
          </div>
          <div class="footer-info">
            Strands:
          </div>
          <div class="footer-info">
            New to the blog?
            Read one of these to get started:

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/page_functions.js"></script>
  {% block endlinks %}{% endblock %}
<body>
</html>
