{% extends "framework.html" %}
{% block content %}
  <div class = "content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>Reset Password</legend>
        <div>
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control") }}
            <div>
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control") }}
          {% endif %}
        </div>
      </fieldset>
      <div>
        {{ form.submit(class="") }}
      </div>
    </form>
  </div>
{% endblock content %}
